// RESET CSS

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************
MYECOM CSS with LESS
*****************/

// MIXINS MEDIA QUERIES

@mobile: 0px;
@tablet: 600px;
@laptop: 900px;
@desktop: 1200px;
@tv: 1800px;

@media screen and (min-width: @mobile) {
  .media-mixin(@mobile);
}

@media screen and (min-width: @tablet) {
  .media-mixin(@tablet);
}

@media screen and (min-width: @laptop) {
  .media-mixin(@laptop);
}

@media screen and (min-width: @desktop) {
  .media-mixin(@desktop);
}

@media screen and (min-width: @tv) {
  .media-mixin(@tv);
}

// FONT SETUP + VARIABLES

:root {
  font-size: 62.5%;
}

@lato: "Lato", Helvetica, Arial;
@roboto: "Roboto", "Lato", Helvetica, Arial;

.media-mixin(@break) when (@break = @mobile) {
  h1 {
    font-family: @lato;
    font-size: 2.4rem;
    font-style: italic;
    font-weight: bold;
    color: @textgray;
  }
}

.media-mixin(@break) when (@break = @laptop) {
  h1 {
    font-family: @lato;
    font-size: 2.4rem;
    font-style: italic;
    font-weight: bold;
    color: @textgray;
  }
  h5 {
    font-family: @lato;
    font-size: 1.8rem;
    .profile-name {
      color: @darkblue;
    }
    #sidebar-list {
      color: @textgray;
    }
  }
}

// COLOR VARIABLES

@darkblue: #193d72;
@lightgray: #f8fafd;
@bordergray: #eef0f3;

@textgray: #c1cad5;

// STYLE

// PHONE SIDEBAR + NAVBAR
.media-mixin(@break) when (@break = @mobile) {
  #sidebar {
    display: none;
  }

  nav {
    width: 100%;
    height: 56px;
    display: flex;
    background-color: @darkblue;
  }

  #mobile-menu {
    margin: 7px;
    .bar {
      width: 32px;
      height: 4px;
      background-color: white;
      margin: 6px 0;
    }
  }

  #website-title {
    width: 100vw;
    text-align: center;
    padding-top: 14px;
  }

  #profile {
    .profile-picture {
      margin-right: 10px;
      margin-top: 7px;
    }
    .profile-name {
      display: none;
    }
  }

  #top-overview {
    margin-top: 16px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .tile {
    flex: 0 0 auto;
    width: 136px;
    height: 80px;
    margin-left: 8%;
    background-color: @darkblue;
    border-radius: 4px;
    .tile-number {
      width: 100%;
      text-align: center;
      padding-top: 0.8em;
      font-size: 2.4em;
      font-family: "Lato";
      color: white;
    }
    .tile-info {
      width: 100%;
      text-align: center;
      padding-top: 0.6em;
      font-weight: lighter;
      font-size: 1.2em;
      font-family: "Lato";
      color: white;
    }
  }
}

#top-orders {
  display: flex;
  width: 100%;
  margin-top: 32px;
  border-bottom: 1px solid @bordergray;
}

.orders-title {
  margin-left: 8%;
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #1f65e6;
  padding-bottom: 8px;
  border-bottom: solid 4px #1f65e6;
}

.orders-btn {
  position: fixed;
  right: 8%;
  button {
    font-family: "Lato";
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1f65e6;
    border: 2px solid #1f65e6;
    background-color: white;
  }
}

.media-mixin(@break) when (@break = @tablet) {
  nav {
    background-color: green;
  }
  #container {
    margin-right: 8%;
  }
  #top-overview {
    display: flex;
    justify-content: space-between;
  }
  .tile {
    background-color: green;
    min-width: 136px;
    min-height: 80px;
    width: 18vw;
    height: 10vw;
    .tile-number {
        padding-top: 2.4vw;
        font-size: 4vw;

    }
    .tile-info {
        padding-top: 0.6em;
        font-size: 1.2em;
    }
  }
}

.media-mixin(@break) when (@break = @laptop) {
  header {
    display: flex;
    flex-direction: column-reverse;
  }

  #mobile-menu {
      display: none;
  }

  nav {
    width: 100%;
    height: 56px;
    display: flex;
    background-color: @lightgray;
    border-bottom: solid 1px @bordergray;
    z-index: -1;
    position: sticky;
    top: 0;
  }

  #website-title {
    width: 200px;
    background-color: @darkblue;
    text-align: center;
  }

  #profile {
    display: flex;
    position: fixed;
    right: 10px;
    .profile-name {
        display: block;
        margin-right: 10px;
        margin-top: 20px;
    }
  }

  #sidebar {
    display: block;
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 56px;
    background-color: @darkblue;
  }

  .sidebar-list {
    list-style-type: none;
    color: @textgray;
    margin-top: 32px;
    li {
      margin-bottom: 20px;
      margin-left: 40px;
      &:hover {
        color: white;
      }
    }
  }

  .sidebar-logout {
    position: fixed;
    width: 200px;
    bottom: 0px;
    margin-bottom: 20px;
    padding-top: 20px;
    color: @textgray;
    border-top: 1px solid #c1cad5;
    h5 {
      padding-left: 40px;
    }
  }

  #container {
      margin-left: 200px;
  }
  .tile {
    background-color: @darkblue;
  }
}
